.bg0 {
    background: linear-gradient(to bottom right, #1e3c72, #2a5298);
}

.bg1 {
    background: linear-gradient(to bottom right, #5691c8, #457fca);
}

.bg2 {
    background: linear-gradient(to bottom right, #ff9068, #fd746c);
}

.bg3 {
    background: linear-gradient(to bottom right, #673ab7, #512da8);
}

.bg4 {
    background: linear-gradient(to bottom right, #F15F79, #B24592);
}

.bg5 {
    background: linear-gradient(to bottom right, #403a3e, #be5869);
}